<div class="disclaimer">
    {% if SHOW_DISCLAIMER %}
    <p>
      The postings on this site are my own and don't necessarily represent my 
      employer’s positions, strategies or opinions.
    </p>
    {% endif %}
  
    <p>
      © {{ AUTHOR }}, {{ CURRENTYEAR }} &mdash; built with <a href="http://getpelican.com" target="_blank">Pelican</a> using port of <a href="https://github.com/swanson/lagom">Lagom theme</a>
    </p>
  </div>
