<nav>
  <h1>Hi.</h1>
  <a href="{{ SITEURL }}/">
    <img src="{{ SITEURL }}/theme/images/logo.png" id="gravatar" alt="My photo"/>
  </a>
  <h2><a href="{{ SITEURL }}/">I'm {{ AUTHOR }}</a></h2>

  <div id="bio">
    <p>{{ TAGLINE }}</p>
  </div>

  <div id="social">
    {% include "social.html" %}
  </div>

  <div id="tags">
    <ul>
      {% for title, link in MENUITEMS %}
      <li><a href="{{ link }}">{{ title }}</a></li>
      {% endfor %}
      {% if DISPLAY_PAGES_ON_MENU %}{% for p in pages %}
      <li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
      {% endfor %}{% endif %}
      {% for name, link in LINKS %}
      <li><a href="{{ link }}" target="_blank">{{ name }}<span style="font-size: 0.7em">&#8599;</span> </a></li>
      {% endfor %}
      </ul>
  </div>
</nav>
